.form-signin {
    float: right;
    max-width: 300px;
    padding: 19px 29px 29px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.container#conteudo{
    padding: 5px;
}

.well{
    float: left;
    margin: 10px;
}

.well.lampadas{
    width: 200px;
}

.well a span{
    font-size: 35px;
    padding-right: 10px;
    position: relative;
    top: 5px;
}
.well a{
     color: #252525;
}.well a:hover{
    text-decoration: none;
    color: #666666;
}

.well .page-header h3{
    padding: 0;
    margin: 0;
}
.well .page-header{
    margin: 0;
    text-align: center;
}
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    padding-top: 20px;
    background-color: #252525;
}
.home p{
    text-indent: 30px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}