body, #sysBody{
    margin: 0;
    padding: 0;
}
#geral{
    max-width: 1200px;
    padding: 5px;
    margin: 0 auto 0 auto;
}
.clear{
    clear: both;
}
.uniContainer{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px #000;
    -moz-box-shadow: 0 2px 5px #000;
    box-shadow: 0 2px 5px #000;
    padding: 10px;
    margin-top: 10px;
}
h1, h2, h3 {
    line-height: 2.5rem !important;
}
.navbar{
    margin: 0 !important;
}
.actionStatus{
    min-height: 20px;
    width: 300px;
    padding: 5px;
    z-index: 1000;
    position: fixed;
    text-align: center;
    left: 50%;
    margin-left: -150px;
    display: none;
}
.textCenter{
    text-align: center;
}
/* ----------- sys btns ------------ */
header .btns{
    float: right;
}.btns a{
    margin-right: 20px;
}.btnConfig{ 
    background: url('imgs/nav_icons.png');
    background-position: -5px -5px;
    height: 31px;
    width: 31px;
    display: block;
    float: right;
}.btnConfig:hover{
    background: url('imgs/nav_icons.png');
    background-position: -38px -5px;
    cursor: pointer;
    -webkit-border-radius:  4px;
    -moz-border-radius:     4px;
    -ms-border-radius:      4px;
    -o-border-radius:       4px;
    border-radius:          4px;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    -moz-box-shadow:    0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    box-shadow:         0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
}.btnBlock{ 
    background: url('imgs/nav_icons.png');
    background-position: -73px -5px;
    height: 31px;
    width: 31px;
    display: block;
    float: right;
}.fb{ 
    background: url('imgs/nav_icons.png');
    background-position: -15px -290px;
    height: 48px;
    width: 250px;
    display: block;
    margin: 0;
}date{
    float: left;
    color:#336699;
    margin-right: 20px;
    margin-top: 10px;
    cursor: default;
}.btnBlock:hover{
    background: url('imgs/nav_icons.png');
    background-position: -107px -5px;
    cursor: pointer;
    -webkit-border-radius:  4px;
    -moz-border-radius:     4px;
    -ms-border-radius:      4px;
    -o-border-radius:       4px;
    border-radius:          4px;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    -moz-box-shadow:    0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    box-shadow:         0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
}.btnDel{ 
    background: url('imgs/nav_icons.png');
    background-position: -142px -5px;
    height: 31px;
    width: 31px;
    display: block;
    float: right;
}.btnDel:hover{ 
    background: url('imgs/nav_icons.png');
    background-position: -182px -5px;
    cursor: pointer;
    -webkit-border-radius:  4px;
    -moz-border-radius:     4px;
    -ms-border-radius:      4px;
    -o-border-radius:       4px;
    border-radius:          4px;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    -moz-box-shadow:    0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    box-shadow:         0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
}.btnEdit{
    background: url('imgs/nav_icons.png');
    background-position: -5px -40px;
    height: 31px;
    width: 31px;
    display: block;
    float: right;
}.btnEdit:hover{
    background: url('imgs/nav_icons.png');
    background-position: -40px -40px;
    cursor: pointer;
    -webkit-border-radius:  4px;
    -moz-border-radius:     4px;
    -ms-border-radius:      4px;
    -o-border-radius:       4px;
    border-radius:          4px;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    -moz-box-shadow:    0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    box-shadow:         0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
}.btnView{
    background: url('imgs/nav_icons.png');
    background-position: -5px -85px;
    height: 31px;
    width: 31px;
    display: block;
    float: right;
}.btnView:hover{
    background: url('imgs/nav_icons.png');
    background-position: -45px -85px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
}.btnAdd{ 
    background: url('imgs/nav_icons.png');
    background-position: -140px -40px;
    height: 31px;
    width: 31px;
    display: block;
    float: right;
}.btnAdd:hover{ 
    background: url('imgs/nav_icons.png');
    background-position: -180px -40px;
    cursor: pointer;
    -webkit-border-radius:  4px;
    -moz-border-radius:     4px;
    -ms-border-radius:      4px;
    -o-border-radius:       4px;
    border-radius:          4px;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    -moz-box-shadow:    0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    box-shadow:         0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
}.btnPrev{ 
    background: url('imgs/nav_icons.png');
    background-position: -85px -85px;
    height: 31px;
    width: 31px;
    display: block;
    float: right;
}.btnPrev:hover{ 
    background: url('imgs/nav_icons.png');
    background-position: -125px -85px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
}.btnStar{ 
    background: url('imgs/nav_icons.png');
    background-position: -220px -5px;
    height: 31px;
    width: 31px;
    display: block;
    float: right;
}.btnStar:hover{ 
    background: url('imgs/nav_icons.png');
    background-position: -260px -5px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 2px 1px black;
}#importReturn{
    min-height: 100px;
    max-height: 200px;
    border: #565656 dashed 2px;
    margin-top: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}#posts #importReturn img{
    margin: 10px;
    cursor: move;
}
.subTitlePag{
    border-bottom: 1px #000 solid;
}
.titlePag{
    color: rgb(0,0,0);
    font-size: 2.3em;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom: 1px #CCC solid;
}

/****************************************
-------------- albuns ------------------
****************************************/
.uniAlbum, .uniVideo{
    text-align: center;
}
.uniAlbum .btns, .uniVideo .btns{
    text-align: center;
    width: 170px;
    margin: 0 auto 0 auto;
}
.uniAlbum{
    height: 300px;
}
.uniAlbum date, .uniVideo date{
    float: none;
    padding-left: 17px;
}
.uniAlbum img, .uniVideo img{
    margin-bottom: 5px;
}
.img{
    display: -moz-inline-box;
    display: inline-block;
    margin: 0px 12px 25px 0px;
    position: relative;
    vertical-align: bottom;
}.hover{
    z-index: 5000;
    position: absolute;
    float: left;
    display: inline;
    margin: -50px;
}.hover img{
    position: relative;
    z-index: 5020;
    -webkit-box-shadow: 0 0 3px #000;
    -moz-box-shadow:    0 0 3px #000;
    box-shadow:         0 0 3px #000;
}
#listImgs, #listUpImgs{
    padding: 15px;
}
.delImg{
    color: black;
    text-decoration: none;
}
.delImgEl{
    width: auto;
    height: 25px;
    text-align: center;
    margin: 5px auto 0 auto;
    border: #565656 dashed 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}.delImgEl:hover{
    background-color: #cccccc;
}

/*************************************
------------ utilitários -------------
*************************************/
.maiscula{
    text-transform: uppercase !important;
}
.infoAlert{
    height: 20px;
    color: red;
    margin-left: 10px;
}

/* links */
.link{
    text-align: center;
}
.link a{
    font-size: 20px; 
    color: #09C; 
    text-decoration: none; 
}
.link a:hover{
    text-decoration: underline; 
}
.imgsContanteiner{
    height: 100px;
    width: 700px;
    margin-top: 20px;
}
.preLoader{
    text-align: center;
}
.linkInner{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
#videos .linkInner, #albuns .linkInner{
    margin: 10px 0 10px 0;
}
.linkInner:hover{
    text-decoration: none !important;
}
.push{
    height: 100px;
}.content{
    padding: 0 20px 0 20px;
}.content2{
    padding: 20px;
}.abelhaIcon{
    margin: 5px;
}

/*********************************
------------- Forms --------------
*********************************/

.fullDay{
    margin-left: 20px !important;
}



#contatos textarea{
    height: 200px;
    max-height: 500px;
}#geral #userConfig form div, #contatos form div, .floatDivForm div{
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}.inputFile {
    background: url('imgs/nav_icons.png');
    background-position: -5px -130px;
    border: #565656 dashed 2px;
    height:100px;
    overflow: hidden !important;
    width: 400px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 1px;
    margin-top: 35px;
    margin-right: 3px;
    float: right;
}.inputFile input {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    float: right;
    margin: 0px;
    padding: 0px;
    font-size: 90px;
}#importReturn{
    min-height: 100px;
    max-height: 200px;
    border: #565656 dashed 2px;
    margin-top: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}#posts #importReturn img{
    margin: 10px;
    cursor: move;
}#posts #importReturn img{
    margin: 10px;
    cursor: move;
}.intForm{
    margin-bottom: 15px;
}.intForm p{
    margin: 0;
    padding: 0;
}.intForm label{
    font-weight: bold;
    line-height: 30px;
}label{
    margin: 0;
    padding: 0;
    cursor: default;   
}

/************************************
---------- Featureds ---------------
************************************/

.featInputs input[type="text"]{
    width: 750px;
}.featInputs label{
    font-weight: bold;
    line-height: 30px;
}.featInputs .button-submit{
    float: right;
    margin-top: 20px;
}.featContent{
    width: 800px;
    margin: 25px auto 25px auto;
    padding-top: 25px;
    border-top: dashed 2px #336699;
}.featContent img, featContent image{
    -webkit-box-shadow: 0 2px 5px #000;
    -moz-box-shadow: 0 2px 5px #000;
    box-shadow: 0 2px 5px #000;
    margin-bottom: 10px;
}.featContent .title{
    font-size: 20px;
    margin-top: 10px;
}.featContent .uniContainer:hover{
    background-color: inherit;
}.featContent .uniContainer .btn{
    margin-right: 17px;
}

/****************************************
------------ form-signin ----------------
****************************************/
.form-signin{
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
#recaptcha{
    margin-left: -8px;
}
#denyLogin #img{
    width: 200px;
    height: 194px;
    margin: 0 auto 20px auto;
    background: url('imgs/security.png')
}#denyLogin{
    text-align: center;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.logLink{
    height: 20px;
    width: 20px;
    background: url('imgs/nav_icons.png');
    background-position: -80px -45px;
    float: right;
    margin: 10px 3px 3px 3px;
}.logLink:hover{
    background: url('imgs/nav_icons.png');
    background-position: -105px -45px;
    cursor: pointer;
}

/***********************************
---------- comments ----------------
***********************************/
#comments{
    max-width: 650px;
}#comments .name{
    font-weight: bold;
    color: #0778b1;  
}#comments .commentTxt{
    padding-left: 5px;
}#comments .btn{
    margin-top: 5px;
}
.titleCommentsForm{
    font-size: 11px;
    font-size: 0.8rem;
}
.fbImg{
    float: left;
margin-right: 5px;
}.fbImg img{
    height: 50px;
}#commentTxt, .replyTxt{
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 15px;
    height: 32px;
    font-size: 0.94rem;
    line-height: 0.94rem;
    height: 3rem;
    width: 99.5%
}
.uniComment,
.uniReply{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px #000;
    -moz-box-shadow: 0 2px 5px #000;
    box-shadow: 0 2px 5px #000;
    padding: 5px;
    margin-top: 10px;
}.uniReply{
    margin-left: 50px;
}

/***********************************
---------- userConfig ----------------
***********************************/
#users h3{
    margin: 0;
}.spanColor span{
    color: #0778b1;
    font-weight: bold;
    padding-left: 20px;
}.spanColor .intTitle{
    font-size: 25px;
}.spanColor .subTitle{
    color: #565656;
    padding-bottom: 10px;
}.listH div{
    float: left;
    margin-top: 20px;
}#users .span11{
    border-bottom: #000 dashed 1px;
    padding: 10px;
}
#acessPages .checkbox{
    margin-left: 20px;
    min-width: 200px;
    float: left;
}.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.videoContent{
    max-width: 950px;
}

/***************************
---------- WebSyS ----------
--- 2.4.3 Nightly Build ----
***************************/
.modal-big {
    width: 70%;
    margin-left: -35%;
}
.modal-big .modal-body{
    padding: 0;
}

@media (max-width: 767px) {
    .modal-big {
        width: auto;
        margin-left: auto;
    }
}

#posts #importReturn img{
    float: left;
}
#posts #importReturn img{
    height: 150px;
}

#posts #importReturn img.selected{
    border: solid red 1px;
}

#posts #unpublishedContent{
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 20px 40px 20px 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#posts #unpublishedContent .btns{
    text-align: right;
}
#posts #unpublishedContent .unpublished.title{
    margin: 0;
    padding: 0;
    color: #369;
    border-bottom: 1px #369 solid;
    padding-bottom: 3px;
}

#posts #unpublishedContent .btns{
    text-align: right;
}

#posts .btnAddImgs{
    position: relative;
    top: 100px;
}

.dropBin{
    height: 50px;
    width: 50px;
    background-color: red;
}