@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-rkvsf9');
	src:url('fonts/icomoon.eot?#iefix-rkvsf9') format('embedded-opentype'),
		url('fonts/icomoon.woff?-rkvsf9') format('woff'),
		url('fonts/icomoon.ttf?-rkvsf9') format('truetype'),
		url('fonts/icomoon.svg?-rkvsf9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-home:before {
	content: "\e600";
}
.icomoon-home2:before {
	content: "\e601";
}
.icomoon-home3:before {
	content: "\e602";
}
.icomoon-office:before {
	content: "\e603";
}
.icomoon-newspaper:before {
	content: "\e604";
}
.icomoon-pencil:before {
	content: "\e605";
}
.icomoon-pencil2:before {
	content: "\e606";
}
.icomoon-quill:before {
	content: "\e607";
}
.icomoon-pen:before {
	content: "\e608";
}
.icomoon-blog:before {
	content: "\e609";
}
.icomoon-droplet:before {
	content: "\e60a";
}
.icomoon-paint-format:before {
	content: "\e60b";
}
.icomoon-image:before {
	content: "\e60c";
}
.icomoon-image2:before {
	content: "\e60d";
}
.icomoon-images:before {
	content: "\e60e";
}
.icomoon-camera:before {
	content: "\e60f";
}
.icomoon-music:before {
	content: "\e610";
}
.icomoon-headphones:before {
	content: "\e611";
}
.icomoon-play:before {
	content: "\e612";
}
.icomoon-film:before {
	content: "\e613";
}
.icomoon-camera2:before {
	content: "\e614";
}
.icomoon-dice:before {
	content: "\e615";
}
.icomoon-pacman:before {
	content: "\e616";
}
.icomoon-spades:before {
	content: "\e617";
}
.icomoon-clubs:before {
	content: "\e618";
}
.icomoon-diamonds:before {
	content: "\e619";
}
.icomoon-pawn:before {
	content: "\e61a";
}
.icomoon-bullhorn:before {
	content: "\e61b";
}
.icomoon-connection:before {
	content: "\e61c";
}
.icomoon-podcast:before {
	content: "\e61d";
}
.icomoon-feed:before {
	content: "\e61e";
}
.icomoon-book:before {
	content: "\e61f";
}
.icomoon-books:before {
	content: "\e620";
}
.icomoon-library:before {
	content: "\e621";
}
.icomoon-file:before {
	content: "\e622";
}
.icomoon-profile:before {
	content: "\e623";
}
.icomoon-file2:before {
	content: "\e624";
}
.icomoon-file3:before {
	content: "\e625";
}
.icomoon-file4:before {
	content: "\e626";
}
.icomoon-copy:before {
	content: "\e627";
}
.icomoon-copy2:before {
	content: "\e628";
}
.icomoon-copy3:before {
	content: "\e629";
}
.icomoon-paste:before {
	content: "\e62a";
}
.icomoon-paste2:before {
	content: "\e62b";
}
.icomoon-paste3:before {
	content: "\e62c";
}
.icomoon-stack:before {
	content: "\e62d";
}
.icomoon-folder:before {
	content: "\e62e";
}
.icomoon-folder-open:before {
	content: "\e62f";
}
.icomoon-tag:before {
	content: "\e630";
}
.icomoon-tags:before {
	content: "\e631";
}
.icomoon-barcode:before {
	content: "\e632";
}
.icomoon-qrcode:before {
	content: "\e633";
}
.icomoon-ticket:before {
	content: "\e634";
}
.icomoon-cart:before {
	content: "\e635";
}
.icomoon-cart2:before {
	content: "\e636";
}
.icomoon-cart3:before {
	content: "\e637";
}
.icomoon-coin:before {
	content: "\e638";
}
.icomoon-credit:before {
	content: "\e639";
}
.icomoon-calculate:before {
	content: "\e63a";
}
.icomoon-support:before {
	content: "\e63b";
}
.icomoon-phone:before {
	content: "\e63c";
}
.icomoon-phone-hang-up:before {
	content: "\e63d";
}
.icomoon-address-book:before {
	content: "\e63e";
}
.icomoon-notebook:before {
	content: "\e63f";
}
.icomoon-envelope:before {
	content: "\e640";
}
.icomoon-pushpin:before {
	content: "\e641";
}
.icomoon-location:before {
	content: "\e642";
}
.icomoon-location2:before {
	content: "\e643";
}
.icomoon-compass:before {
	content: "\e644";
}
.icomoon-map:before {
	content: "\e645";
}
.icomoon-map2:before {
	content: "\e646";
}
.icomoon-history:before {
	content: "\e647";
}
.icomoon-clock:before {
	content: "\e648";
}
.icomoon-clock2:before {
	content: "\e649";
}
.icomoon-alarm:before {
	content: "\e64a";
}
.icomoon-alarm2:before {
	content: "\e64b";
}
.icomoon-bell:before {
	content: "\e64c";
}
.icomoon-stopwatch:before {
	content: "\e64d";
}
.icomoon-calendar:before {
	content: "\e64e";
}
.icomoon-calendar2:before {
	content: "\e64f";
}
.icomoon-print:before {
	content: "\e650";
}
.icomoon-keyboard:before {
	content: "\e651";
}
.icomoon-screen:before {
	content: "\e652";
}
.icomoon-laptop:before {
	content: "\e653";
}
.icomoon-mobile:before {
	content: "\e654";
}
.icomoon-mobile2:before {
	content: "\e655";
}
.icomoon-tablet:before {
	content: "\e656";
}
.icomoon-tv:before {
	content: "\e657";
}
.icomoon-cabinet:before {
	content: "\e658";
}
.icomoon-drawer:before {
	content: "\e659";
}
.icomoon-drawer2:before {
	content: "\e65a";
}
.icomoon-drawer3:before {
	content: "\e65b";
}
.icomoon-box-add:before {
	content: "\e65c";
}
.icomoon-box-remove:before {
	content: "\e65d";
}
.icomoon-download:before {
	content: "\e65e";
}
.icomoon-upload:before {
	content: "\e65f";
}
.icomoon-disk:before {
	content: "\e660";
}
.icomoon-storage:before {
	content: "\e661";
}
.icomoon-undo:before {
	content: "\e662";
}
.icomoon-redo:before {
	content: "\e663";
}
.icomoon-flip:before {
	content: "\e664";
}
.icomoon-flip2:before {
	content: "\e665";
}
.icomoon-undo2:before {
	content: "\e666";
}
.icomoon-redo2:before {
	content: "\e667";
}
.icomoon-forward:before {
	content: "\e668";
}
.icomoon-reply:before {
	content: "\e669";
}
.icomoon-bubble:before {
	content: "\e66a";
}
.icomoon-bubbles:before {
	content: "\e66b";
}
.icomoon-bubbles2:before {
	content: "\e66c";
}
.icomoon-bubble2:before {
	content: "\e66d";
}
.icomoon-bubbles3:before {
	content: "\e66e";
}
.icomoon-bubbles4:before {
	content: "\e66f";
}
.icomoon-user:before {
	content: "\e670";
}
.icomoon-users:before {
	content: "\e671";
}
.icomoon-user2:before {
	content: "\e672";
}
.icomoon-users2:before {
	content: "\e673";
}
.icomoon-user3:before {
	content: "\e674";
}
.icomoon-user4:before {
	content: "\e675";
}
.icomoon-quotes-left:before {
	content: "\e676";
}
.icomoon-busy:before {
	content: "\e677";
}
.icomoon-spinner:before {
	content: "\e678";
}
.icomoon-spinner2:before {
	content: "\e679";
}
.icomoon-spinner3:before {
	content: "\e67a";
}
.icomoon-spinner4:before {
	content: "\e67b";
}
.icomoon-spinner5:before {
	content: "\e67c";
}
.icomoon-spinner6:before {
	content: "\e67d";
}
.icomoon-binoculars:before {
	content: "\e67e";
}
.icomoon-search:before {
	content: "\e67f";
}
.icomoon-zoomin:before {
	content: "\e680";
}
.icomoon-zoomout:before {
	content: "\e681";
}
.icomoon-expand:before {
	content: "\e682";
}
.icomoon-contract:before {
	content: "\e683";
}
.icomoon-expand2:before {
	content: "\e684";
}
.icomoon-contract2:before {
	content: "\e685";
}
.icomoon-key:before {
	content: "\e686";
}
.icomoon-key2:before {
	content: "\e687";
}
.icomoon-lock:before {
	content: "\e688";
}
.icomoon-lock2:before {
	content: "\e689";
}
.icomoon-unlocked:before {
	content: "\e68a";
}
.icomoon-wrench:before {
	content: "\e68b";
}
.icomoon-settings:before {
	content: "\e68c";
}
.icomoon-equalizer:before {
	content: "\e68d";
}
.icomoon-cog:before {
	content: "\e68e";
}
.icomoon-cogs:before {
	content: "\e68f";
}
.icomoon-cog2:before {
	content: "\e690";
}
.icomoon-hammer:before {
	content: "\e691";
}
.icomoon-wand:before {
	content: "\e692";
}
.icomoon-aid:before {
	content: "\e693";
}
.icomoon-bug:before {
	content: "\e694";
}
.icomoon-pie:before {
	content: "\e695";
}
.icomoon-stats:before {
	content: "\e696";
}
.icomoon-bars:before {
	content: "\e697";
}
.icomoon-bars2:before {
	content: "\e698";
}
.icomoon-gift:before {
	content: "\e699";
}
.icomoon-trophy:before {
	content: "\e69a";
}
.icomoon-glass:before {
	content: "\e69b";
}
.icomoon-mug:before {
	content: "\e69c";
}
.icomoon-food:before {
	content: "\e69d";
}
.icomoon-leaf:before {
	content: "\e69e";
}
.icomoon-rocket:before {
	content: "\e69f";
}
.icomoon-meter:before {
	content: "\e6a0";
}
.icomoon-meter2:before {
	content: "\e6a1";
}
.icomoon-dashboard:before {
	content: "\e6a2";
}
.icomoon-hammer2:before {
	content: "\e6a3";
}
.icomoon-fire:before {
	content: "\e6a4";
}
.icomoon-lab:before {
	content: "\e6a5";
}
.icomoon-magnet:before {
	content: "\e6a6";
}
.icomoon-remove:before {
	content: "\e6a7";
}
.icomoon-remove2:before {
	content: "\e6a8";
}
.icomoon-briefcase:before {
	content: "\e6a9";
}
.icomoon-airplane:before {
	content: "\e6aa";
}
.icomoon-truck:before {
	content: "\e6ab";
}
.icomoon-road:before {
	content: "\e6ac";
}
.icomoon-accessibility:before {
	content: "\e6ad";
}
.icomoon-target:before {
	content: "\e6ae";
}
.icomoon-shield:before {
	content: "\e6af";
}
.icomoon-lightning:before {
	content: "\e6b0";
}
.icomoon-switch:before {
	content: "\e6b1";
}
.icomoon-powercord:before {
	content: "\e6b2";
}
.icomoon-signup:before {
	content: "\e6b3";
}
.icomoon-list:before {
	content: "\e6b4";
}
.icomoon-list2:before {
	content: "\e6b5";
}
.icomoon-numbered-list:before {
	content: "\e6b6";
}
.icomoon-menu:before {
	content: "\e6b7";
}
.icomoon-menu2:before {
	content: "\e6b8";
}
.icomoon-tree:before {
	content: "\e6b9";
}
.icomoon-cloud:before {
	content: "\e6ba";
}
.icomoon-cloud-download:before {
	content: "\e6bb";
}
.icomoon-cloud-upload:before {
	content: "\e6bc";
}
.icomoon-download2:before {
	content: "\e6bd";
}
.icomoon-upload2:before {
	content: "\e6be";
}
.icomoon-download3:before {
	content: "\e6bf";
}
.icomoon-upload3:before {
	content: "\e6c0";
}
.icomoon-globe:before {
	content: "\e6c1";
}
.icomoon-earth:before {
	content: "\e6c2";
}
.icomoon-link:before {
	content: "\e6c3";
}
.icomoon-flag:before {
	content: "\e6c4";
}
.icomoon-attachment:before {
	content: "\e6c5";
}
.icomoon-eye:before {
	content: "\e6c6";
}
.icomoon-eye-blocked:before {
	content: "\e6c7";
}
.icomoon-eye2:before {
	content: "\e6c8";
}
.icomoon-bookmark:before {
	content: "\e6c9";
}
.icomoon-bookmarks:before {
	content: "\e6ca";
}
.icomoon-brightness-medium:before {
	content: "\e6cb";
}
.icomoon-brightness-contrast:before {
	content: "\e6cc";
}
.icomoon-contrast:before {
	content: "\e6cd";
}
.icomoon-star:before {
	content: "\e6ce";
}
.icomoon-star2:before {
	content: "\e6cf";
}
.icomoon-star3:before {
	content: "\e6d0";
}
.icomoon-heart:before {
	content: "\e6d1";
}
.icomoon-heart2:before {
	content: "\e6d2";
}
.icomoon-heart-broken:before {
	content: "\e6d3";
}
.icomoon-thumbs-up:before {
	content: "\e6d4";
}
.icomoon-thumbs-up2:before {
	content: "\e6d5";
}
.icomoon-happy:before {
	content: "\e6d6";
}
.icomoon-happy2:before {
	content: "\e6d7";
}
.icomoon-smiley:before {
	content: "\e6d8";
}
.icomoon-smiley2:before {
	content: "\e6d9";
}
.icomoon-tongue:before {
	content: "\e6da";
}
.icomoon-tongue2:before {
	content: "\e6db";
}
.icomoon-sad:before {
	content: "\e6dc";
}
.icomoon-sad2:before {
	content: "\e6dd";
}
.icomoon-wink:before {
	content: "\e6de";
}
.icomoon-wink2:before {
	content: "\e6df";
}
.icomoon-grin:before {
	content: "\e6e0";
}
.icomoon-grin2:before {
	content: "\e6e1";
}
.icomoon-cool:before {
	content: "\e6e2";
}
.icomoon-cool2:before {
	content: "\e6e3";
}
.icomoon-angry:before {
	content: "\e6e4";
}
.icomoon-angry2:before {
	content: "\e6e5";
}
.icomoon-evil:before {
	content: "\e6e6";
}
.icomoon-evil2:before {
	content: "\e6e7";
}
.icomoon-shocked:before {
	content: "\e6e8";
}
.icomoon-shocked2:before {
	content: "\e6e9";
}
.icomoon-confused:before {
	content: "\e6ea";
}
.icomoon-confused2:before {
	content: "\e6eb";
}
.icomoon-neutral:before {
	content: "\e6ec";
}
.icomoon-neutral2:before {
	content: "\e6ed";
}
.icomoon-wondering:before {
	content: "\e6ee";
}
.icomoon-wondering2:before {
	content: "\e6ef";
}
.icomoon-point-up:before {
	content: "\e6f0";
}
.icomoon-point-right:before {
	content: "\e6f1";
}
.icomoon-point-down:before {
	content: "\e6f2";
}
.icomoon-point-left:before {
	content: "\e6f3";
}
.icomoon-warning:before {
	content: "\e6f4";
}
.icomoon-notification:before {
	content: "\e6f5";
}
.icomoon-question:before {
	content: "\e6f6";
}
.icomoon-info:before {
	content: "\e6f7";
}
.icomoon-info2:before {
	content: "\e6f8";
}
.icomoon-blocked:before {
	content: "\e6f9";
}
.icomoon-cancel-circle:before {
	content: "\e6fa";
}
.icomoon-checkmark-circle:before {
	content: "\e6fb";
}
.icomoon-spam:before {
	content: "\e6fc";
}
.icomoon-close:before {
	content: "\e6fd";
}
.icomoon-checkmark:before {
	content: "\e6fe";
}
.icomoon-checkmark2:before {
	content: "\e6ff";
}
.icomoon-spell-check:before {
	content: "\e700";
}
.icomoon-minus:before {
	content: "\e701";
}
.icomoon-plus:before {
	content: "\e702";
}
.icomoon-enter:before {
	content: "\e703";
}
.icomoon-exit:before {
	content: "\e704";
}
.icomoon-play2:before {
	content: "\e705";
}
.icomoon-pause:before {
	content: "\e706";
}
.icomoon-stop:before {
	content: "\e707";
}
.icomoon-backward:before {
	content: "\e708";
}
.icomoon-forward2:before {
	content: "\e709";
}
.icomoon-play3:before {
	content: "\e70a";
}
.icomoon-pause2:before {
	content: "\e70b";
}
.icomoon-stop2:before {
	content: "\e70c";
}
.icomoon-backward2:before {
	content: "\e70d";
}
.icomoon-forward3:before {
	content: "\e70e";
}
.icomoon-first:before {
	content: "\e70f";
}
.icomoon-last:before {
	content: "\e710";
}
.icomoon-previous:before {
	content: "\e711";
}
.icomoon-next:before {
	content: "\e712";
}
.icomoon-eject:before {
	content: "\e713";
}
.icomoon-volume-high:before {
	content: "\e714";
}
.icomoon-volume-medium:before {
	content: "\e715";
}
.icomoon-volume-low:before {
	content: "\e716";
}
.icomoon-volume-mute:before {
	content: "\e717";
}
.icomoon-volume-mute2:before {
	content: "\e718";
}
.icomoon-volume-increase:before {
	content: "\e719";
}
.icomoon-volume-decrease:before {
	content: "\e71a";
}
.icomoon-loop:before {
	content: "\e71b";
}
.icomoon-loop2:before {
	content: "\e71c";
}
.icomoon-loop3:before {
	content: "\e71d";
}
.icomoon-shuffle:before {
	content: "\e71e";
}
.icomoon-arrow-up-left:before {
	content: "\e71f";
}
.icomoon-arrow-up:before {
	content: "\e720";
}
.icomoon-arrow-up-right:before {
	content: "\e721";
}
.icomoon-arrow-right:before {
	content: "\e722";
}
.icomoon-arrow-down-right:before {
	content: "\e723";
}
.icomoon-arrow-down:before {
	content: "\e724";
}
.icomoon-arrow-down-left:before {
	content: "\e725";
}
.icomoon-arrow-left:before {
	content: "\e726";
}
.icomoon-arrow-up-left2:before {
	content: "\e727";
}
.icomoon-arrow-up2:before {
	content: "\e728";
}
.icomoon-arrow-up-right2:before {
	content: "\e729";
}
.icomoon-arrow-right2:before {
	content: "\e72a";
}
.icomoon-arrow-down-right2:before {
	content: "\e72b";
}
.icomoon-arrow-down2:before {
	content: "\e72c";
}
.icomoon-arrow-down-left2:before {
	content: "\e72d";
}
.icomoon-arrow-left2:before {
	content: "\e72e";
}
.icomoon-arrow-up-left3:before {
	content: "\e72f";
}
.icomoon-arrow-up3:before {
	content: "\e730";
}
.icomoon-arrow-up-right3:before {
	content: "\e731";
}
.icomoon-arrow-right3:before {
	content: "\e732";
}
.icomoon-arrow-down-right3:before {
	content: "\e733";
}
.icomoon-arrow-down3:before {
	content: "\e734";
}
.icomoon-arrow-down-left3:before {
	content: "\e735";
}
.icomoon-arrow-left3:before {
	content: "\e736";
}
.icomoon-tab:before {
	content: "\e737";
}
.icomoon-checkbox-checked:before {
	content: "\e738";
}
.icomoon-checkbox-unchecked:before {
	content: "\e739";
}
.icomoon-checkbox-partial:before {
	content: "\e73a";
}
.icomoon-radio-checked:before {
	content: "\e73b";
}
.icomoon-radio-unchecked:before {
	content: "\e73c";
}
.icomoon-crop:before {
	content: "\e73d";
}
.icomoon-scissors:before {
	content: "\e73e";
}
.icomoon-filter:before {
	content: "\e73f";
}
.icomoon-filter2:before {
	content: "\e740";
}
.icomoon-font:before {
	content: "\e741";
}
.icomoon-text-height:before {
	content: "\e742";
}
.icomoon-text-width:before {
	content: "\e743";
}
.icomoon-bold:before {
	content: "\e744";
}
.icomoon-underline:before {
	content: "\e745";
}
.icomoon-italic:before {
	content: "\e746";
}
.icomoon-strikethrough:before {
	content: "\e747";
}
.icomoon-omega:before {
	content: "\e748";
}
.icomoon-sigma:before {
	content: "\e749";
}
.icomoon-table:before {
	content: "\e74a";
}
.icomoon-table2:before {
	content: "\e74b";
}
.icomoon-insert-template:before {
	content: "\e74c";
}
.icomoon-pilcrow:before {
	content: "\e74d";
}
.icomoon-lefttoright:before {
	content: "\e74e";
}
.icomoon-righttoleft:before {
	content: "\e74f";
}
.icomoon-paragraph-left:before {
	content: "\e750";
}
.icomoon-paragraph-center:before {
	content: "\e751";
}
.icomoon-paragraph-right:before {
	content: "\e752";
}
.icomoon-paragraph-justify:before {
	content: "\e753";
}
.icomoon-paragraph-left2:before {
	content: "\e754";
}
.icomoon-paragraph-center2:before {
	content: "\e755";
}
.icomoon-paragraph-right2:before {
	content: "\e756";
}
.icomoon-paragraph-justify2:before {
	content: "\e757";
}
.icomoon-indent-increase:before {
	content: "\e758";
}
.icomoon-indent-decrease:before {
	content: "\e759";
}
.icomoon-newtab:before {
	content: "\e75a";
}
.icomoon-embed:before {
	content: "\e75b";
}
.icomoon-code:before {
	content: "\e75c";
}
.icomoon-console:before {
	content: "\e75d";
}
.icomoon-share:before {
	content: "\e75e";
}
.icomoon-mail:before {
	content: "\e75f";
}
.icomoon-mail2:before {
	content: "\e760";
}
.icomoon-mail3:before {
	content: "\e761";
}
.icomoon-mail4:before {
	content: "\e762";
}
.icomoon-google:before {
	content: "\e763";
}
.icomoon-googleplus:before {
	content: "\e764";
}
.icomoon-googleplus2:before {
	content: "\e765";
}
.icomoon-googleplus3:before {
	content: "\e766";
}
.icomoon-googleplus4:before {
	content: "\e767";
}
.icomoon-google-drive:before {
	content: "\e768";
}
.icomoon-facebook:before {
	content: "\e769";
}
.icomoon-facebook2:before {
	content: "\e76a";
}
.icomoon-facebook3:before {
	content: "\e76b";
}
.icomoon-instagram:before {
	content: "\e76c";
}
.icomoon-twitter:before {
	content: "\e76d";
}
.icomoon-twitter2:before {
	content: "\e76e";
}
.icomoon-twitter3:before {
	content: "\e76f";
}
.icomoon-feed2:before {
	content: "\e770";
}
.icomoon-feed3:before {
	content: "\e771";
}
.icomoon-feed4:before {
	content: "\e772";
}
.icomoon-youtube:before {
	content: "\e773";
}
.icomoon-youtube2:before {
	content: "\e774";
}
.icomoon-vimeo:before {
	content: "\e775";
}
.icomoon-vimeo2:before {
	content: "\e776";
}
.icomoon-vimeo3:before {
	content: "\e777";
}
.icomoon-lanyrd:before {
	content: "\e778";
}
.icomoon-flickr:before {
	content: "\e779";
}
.icomoon-flickr2:before {
	content: "\e77a";
}
.icomoon-flickr3:before {
	content: "\e77b";
}
.icomoon-flickr4:before {
	content: "\e77c";
}
.icomoon-picassa:before {
	content: "\e77d";
}
.icomoon-picassa2:before {
	content: "\e77e";
}
.icomoon-dribbble:before {
	content: "\e77f";
}
.icomoon-dribbble2:before {
	content: "\e780";
}
.icomoon-dribbble3:before {
	content: "\e781";
}
.icomoon-forrst:before {
	content: "\e782";
}
.icomoon-forrst2:before {
	content: "\e783";
}
.icomoon-deviantart:before {
	content: "\e784";
}
.icomoon-deviantart2:before {
	content: "\e785";
}
.icomoon-steam:before {
	content: "\e786";
}
.icomoon-steam2:before {
	content: "\e787";
}
.icomoon-github:before {
	content: "\e788";
}
.icomoon-github2:before {
	content: "\e789";
}
.icomoon-github3:before {
	content: "\e78a";
}
.icomoon-github4:before {
	content: "\e78b";
}
.icomoon-github5:before {
	content: "\e78c";
}
.icomoon-wordpress:before {
	content: "\e78d";
}
.icomoon-wordpress2:before {
	content: "\e78e";
}
.icomoon-joomla:before {
	content: "\e78f";
}
.icomoon-blogger:before {
	content: "\e790";
}
.icomoon-blogger2:before {
	content: "\e791";
}
.icomoon-tumblr:before {
	content: "\e792";
}
.icomoon-tumblr2:before {
	content: "\e793";
}
.icomoon-yahoo:before {
	content: "\e794";
}
.icomoon-tux:before {
	content: "\e795";
}
.icomoon-apple:before {
	content: "\e796";
}
.icomoon-finder:before {
	content: "\e797";
}
.icomoon-android:before {
	content: "\e798";
}
.icomoon-windows:before {
	content: "\e799";
}
.icomoon-windows8:before {
	content: "\e79a";
}
.icomoon-soundcloud:before {
	content: "\e79b";
}
.icomoon-soundcloud2:before {
	content: "\e79c";
}
.icomoon-skype:before {
	content: "\e79d";
}
.icomoon-reddit:before {
	content: "\e79e";
}
.icomoon-linkedin:before {
	content: "\e79f";
}
.icomoon-lastfm:before {
	content: "\e7a0";
}
.icomoon-lastfm2:before {
	content: "\e7a1";
}
.icomoon-delicious:before {
	content: "\e7a2";
}
.icomoon-stumbleupon:before {
	content: "\e7a3";
}
.icomoon-stumbleupon2:before {
	content: "\e7a4";
}
.icomoon-stackoverflow:before {
	content: "\e7a5";
}
.icomoon-pinterest:before {
	content: "\e7a6";
}
.icomoon-pinterest2:before {
	content: "\e7a7";
}
.icomoon-xing:before {
	content: "\e7a8";
}
.icomoon-xing2:before {
	content: "\e7a9";
}
.icomoon-flattr:before {
	content: "\e7aa";
}
.icomoon-foursquare:before {
	content: "\e7ab";
}
.icomoon-foursquare2:before {
	content: "\e7ac";
}
.icomoon-paypal:before {
	content: "\e7ad";
}
.icomoon-paypal2:before {
	content: "\e7ae";
}
.icomoon-paypal3:before {
	content: "\e7af";
}
.icomoon-yelp:before {
	content: "\e7b0";
}
.icomoon-libreoffice:before {
	content: "\e7b1";
}
.icomoon-file-pdf:before {
	content: "\e7b2";
}
.icomoon-file-openoffice:before {
	content: "\e7b3";
}
.icomoon-file-word:before {
	content: "\e7b4";
}
.icomoon-file-excel:before {
	content: "\e7b5";
}
.icomoon-file-zip:before {
	content: "\e7b6";
}
.icomoon-file-powerpoint:before {
	content: "\e7b7";
}
.icomoon-file-xml:before {
	content: "\e7b8";
}
.icomoon-file-css:before {
	content: "\e7b9";
}
.icomoon-html5:before {
	content: "\e7ba";
}
.icomoon-html52:before {
	content: "\e7bb";
}
.icomoon-css3:before {
	content: "\e7bc";
}
.icomoon-chrome:before {
	content: "\e7bd";
}
.icomoon-firefox:before {
	content: "\e7be";
}
.icomoon-IE:before {
	content: "\e7bf";
}
.icomoon-opera:before {
	content: "\e7c0";
}
.icomoon-safari:before {
	content: "\e7c1";
}
.icomoon-IcoMoon:before {
	content: "\e7c2";
}
.icomoon-store:before {
	content: "\e7c3";
}
.icomoon-out:before {
	content: "\e7c4";
}
.icomoon-in:before {
	content: "\e7c5";
}
.icomoon-in-alt:before {
	content: "\e7c6";
}
.icomoon-home4:before {
	content: "\e7c7";
}
.icomoon-lightbulb:before {
	content: "\e7c8";
}
.icomoon-anchor:before {
	content: "\e7c9";
}
.icomoon-feather:before {
	content: "\e7ca";
}
.icomoon-expand3:before {
	content: "\e7cb";
}
.icomoon-maximize:before {
	content: "\e7cc";
}
.icomoon-search2:before {
	content: "\e7cd";
}
.icomoon-zoomin2:before {
	content: "\e7ce";
}
.icomoon-zoomout2:before {
	content: "\e7cf";
}
.icomoon-add:before {
	content: "\e7d0";
}
.icomoon-subtract:before {
	content: "\e7d1";
}
.icomoon-exclamation:before {
	content: "\e7d2";
}
.icomoon-question2:before {
	content: "\e7d3";
}
.icomoon-close2:before {
	content: "\e7d4";
}
.icomoon-cmd:before {
	content: "\e7d5";
}
.icomoon-forbid:before {
	content: "\e7d6";
}
.icomoon-book2:before {
	content: "\e7d7";
}
.icomoon-spinner7:before {
	content: "\e7d8";
}
.icomoon-play4:before {
	content: "\e7d9";
}
.icomoon-stop3:before {
	content: "\e7da";
}
.icomoon-pause3:before {
	content: "\e7db";
}
.icomoon-forward4:before {
	content: "\e7dc";
}
.icomoon-rewind:before {
	content: "\e7dd";
}
.icomoon-sound:before {
	content: "\e7de";
}
.icomoon-sound-alt:before {
	content: "\e7df";
}
.icomoon-soundoff:before {
	content: "\e7e0";
}
.icomoon-task:before {
	content: "\e7e1";
}
.icomoon-inbox:before {
	content: "\e7e2";
}
.icomoon-inbox-alt:before {
	content: "\e7e3";
}
.icomoon-envelope2:before {
	content: "\e7e4";
}
.icomoon-compose:before {
	content: "\e7e5";
}
.icomoon-newspaper2:before {
	content: "\e7e6";
}
.icomoon-newspaper-alt:before {
	content: "\e7e7";
}
.icomoon-clipboard:before {
	content: "\e7e8";
}
.icomoon-calendar3:before {
	content: "\e7e9";
}
.icomoon-hyperlink:before {
	content: "\e7ea";
}
.icomoon-trash:before {
	content: "\e7eb";
}
.icomoon-trash-alt:before {
	content: "\e7ec";
}
.icomoon-grid:before {
	content: "\e7ed";
}
.icomoon-grid-alt:before {
	content: "\e7ee";
}
.icomoon-menu3:before {
	content: "\e7ef";
}
.icomoon-list3:before {
	content: "\e7f0";
}
.icomoon-gallery:before {
	content: "\e7f1";
}
.icomoon-calculator:before {
	content: "\e7f2";
}
.icomoon-windows2:before {
	content: "\e7f3";
}
.icomoon-browser:before {
	content: "\e7f4";
}
.icomoon-alarm3:before {
	content: "\e7f5";
}
.icomoon-clock3:before {
	content: "\e7f6";
}
.icomoon-attachment2:before {
	content: "\e7f7";
}
.icomoon-settings2:before {
	content: "\e7f8";
}
.icomoon-portfolio:before {
	content: "\e7f9";
}
.icomoon-user5:before {
	content: "\e7fa";
}
.icomoon-users3:before {
	content: "\e7fb";
}
.icomoon-heart3:before {
	content: "\e7fc";
}
.icomoon-chat:before {
	content: "\e7fd";
}
.icomoon-comments:before {
	content: "\e7fe";
}
.icomoon-screen2:before {
	content: "\e7ff";
}
.icomoon-iphone:before {
	content: "\e800";
}
.icomoon-ipad:before {
	content: "\e801";
}
.icomoon-forkandspoon:before {
	content: "\e802";
}
.icomoon-forkandknife:before {
	content: "\e803";
}
.icomoon-instagram2:before {
	content: "\e804";
}
.icomoon-facebook4:before {
	content: "\e805";
}
.icomoon-delicious2:before {
	content: "\e806";
}
.icomoon-googleplus5:before {
	content: "\e807";
}
.icomoon-dribbble4:before {
	content: "\e808";
}
.icomoon-pin:before {
	content: "\e809";
}
.icomoon-pin-alt:before {
	content: "\e80a";
}
.icomoon-camera3:before {
	content: "\e80b";
}
.icomoon-brightness:before {
	content: "\e80c";
}
.icomoon-brightness-half:before {
	content: "\e80d";
}
.icomoon-moon:before {
	content: "\e80e";
}
.icomoon-cloud2:before {
	content: "\e80f";
}
.icomoon-circle-full:before {
	content: "\e810";
}
.icomoon-circle-half:before {
	content: "\e811";
}
.icomoon-globe2:before {
	content: "\e812";
}
.icomoon-heart4:before {
	content: "\e813";
}
.icomoon-cloud3:before {
	content: "\e814";
}
.icomoon-star4:before {
	content: "\e815";
}
.icomoon-tv2:before {
	content: "\e816";
}
.icomoon-sound2:before {
	content: "\e817";
}
.icomoon-video:before {
	content: "\e818";
}
.icomoon-trash2:before {
	content: "\e819";
}
.icomoon-user6:before {
	content: "\e81a";
}
.icomoon-key3:before {
	content: "\e81b";
}
.icomoon-search3:before {
	content: "\e81c";
}
.icomoon-settings3:before {
	content: "\e81d";
}
.icomoon-camera4:before {
	content: "\e81e";
}
.icomoon-tag2:before {
	content: "\e81f";
}
.icomoon-lock3:before {
	content: "\e820";
}
.icomoon-bulb:before {
	content: "\e821";
}
.icomoon-pen2:before {
	content: "\e822";
}
.icomoon-diamond:before {
	content: "\e823";
}
.icomoon-display:before {
	content: "\e824";
}
.icomoon-location3:before {
	content: "\e825";
}
.icomoon-eye3:before {
	content: "\e826";
}
.icomoon-bubble3:before {
	content: "\e827";
}
.icomoon-stack2:before {
	content: "\e828";
}
.icomoon-cup:before {
	content: "\e829";
}
.icomoon-phone2:before {
	content: "\e82a";
}
.icomoon-news:before {
	content: "\e82b";
}
.icomoon-mail5:before {
	content: "\e82c";
}
.icomoon-like:before {
	content: "\e82d";
}
.icomoon-photo:before {
	content: "\e82e";
}
.icomoon-note:before {
	content: "\e82f";
}
.icomoon-clock4:before {
	content: "\e830";
}
.icomoon-paperplane:before {
	content: "\e831";
}
.icomoon-params:before {
	content: "\e832";
}
.icomoon-banknote:before {
	content: "\e833";
}
.icomoon-data:before {
	content: "\e834";
}
.icomoon-music2:before {
	content: "\e835";
}
.icomoon-megaphone:before {
	content: "\e836";
}
.icomoon-study:before {
	content: "\e837";
}
.icomoon-lab2:before {
	content: "\e838";
}
.icomoon-food2:before {
	content: "\e839";
}
.icomoon-t-shirt:before {
	content: "\e83a";
}
.icomoon-fire2:before {
	content: "\e83b";
}
.icomoon-clip:before {
	content: "\e83c";
}
.icomoon-shop:before {
	content: "\e83d";
}
.icomoon-calendar4:before {
	content: "\e83e";
}
.icomoon-wallet:before {
	content: "\e83f";
}
.icomoon-vynil:before {
	content: "\e840";
}
.icomoon-truck2:before {
	content: "\e841";
}
.icomoon-world:before {
	content: "\e842";
}
.icomoon-phone3:before {
	content: "\e843";
}
.icomoon-mobile3:before {
	content: "\e844";
}
.icomoon-mouse:before {
	content: "\e845";
}
.icomoon-directions:before {
	content: "\e846";
}
.icomoon-mail6:before {
	content: "\e847";
}
.icomoon-paperplane2:before {
	content: "\e848";
}
.icomoon-pencil3:before {
	content: "\e849";
}
.icomoon-feather2:before {
	content: "\e84a";
}
.icomoon-paperclip:before {
	content: "\e84b";
}
.icomoon-drawer4:before {
	content: "\e84c";
}
.icomoon-reply2:before {
	content: "\e84d";
}
.icomoon-reply-all:before {
	content: "\e84e";
}
.icomoon-forward5:before {
	content: "\e84f";
}
.icomoon-user7:before {
	content: "\e850";
}
.icomoon-users4:before {
	content: "\e851";
}
.icomoon-user-add:before {
	content: "\e852";
}
.icomoon-vcard:before {
	content: "\e853";
}
.icomoon-export:before {
	content: "\e854";
}
.icomoon-location4:before {
	content: "\e855";
}
.icomoon-map3:before {
	content: "\e856";
}
.icomoon-compass2:before {
	content: "\e857";
}
.icomoon-location5:before {
	content: "\e858";
}
.icomoon-target2:before {
	content: "\e859";
}
.icomoon-share2:before {
	content: "\e85a";
}
.icomoon-sharable:before {
	content: "\e85b";
}
.icomoon-heart5:before {
	content: "\e85c";
}
.icomoon-heart6:before {
	content: "\e85d";
}
.icomoon-star5:before {
	content: "\e85e";
}
.icomoon-star6:before {
	content: "\e85f";
}
.icomoon-thumbsup:before {
	content: "\e860";
}
.icomoon-thumbsdown:before {
	content: "\e861";
}
.icomoon-chat2:before {
	content: "\e862";
}
.icomoon-comment:before {
	content: "\e863";
}
.icomoon-quote:before {
	content: "\e864";
}
.icomoon-house:before {
	content: "\e865";
}
.icomoon-popup:before {
	content: "\e866";
}
.icomoon-search4:before {
	content: "\e867";
}
.icomoon-flashlight:before {
	content: "\e868";
}
.icomoon-printer:before {
	content: "\e869";
}
.icomoon-bell2:before {
	content: "\e86a";
}
.icomoon-link2:before {
	content: "\e86b";
}
.icomoon-flag2:before {
	content: "\e86c";
}
.icomoon-cog3:before {
	content: "\e86d";
}
.icomoon-tools:before {
	content: "\e86e";
}
.icomoon-trophy2:before {
	content: "\e86f";
}
.icomoon-tag3:before {
	content: "\e870";
}
.icomoon-camera5:before {
	content: "\e871";
}
.icomoon-megaphone2:before {
	content: "\e872";
}
.icomoon-moon2:before {
	content: "\e873";
}
.icomoon-palette:before {
	content: "\e874";
}
.icomoon-leaf2:before {
	content: "\e875";
}
.icomoon-music3:before {
	content: "\e876";
}
.icomoon-music4:before {
	content: "\e877";
}
.icomoon-new:before {
	content: "\e878";
}
.icomoon-graduation:before {
	content: "\e879";
}
.icomoon-book3:before {
	content: "\e87a";
}
.icomoon-newspaper3:before {
	content: "\e87b";
}
.icomoon-bag:before {
	content: "\e87c";
}
.icomoon-airplane2:before {
	content: "\e87d";
}
.icomoon-lifebuoy:before {
	content: "\e87e";
}
.icomoon-eye4:before {
	content: "\e87f";
}
.icomoon-clock5:before {
	content: "\e880";
}
.icomoon-microphone:before {
	content: "\e881";
}
.icomoon-calendar5:before {
	content: "\e882";
}
.icomoon-bolt:before {
	content: "\e883";
}
.icomoon-thunder:before {
	content: "\e884";
}
.icomoon-droplet2:before {
	content: "\e885";
}
.icomoon-cd:before {
	content: "\e886";
}
.icomoon-briefcase2:before {
	content: "\e887";
}
.icomoon-air:before {
	content: "\e888";
}
.icomoon-hourglass:before {
	content: "\e889";
}
.icomoon-gauge:before {
	content: "\e88a";
}
.icomoon-language:before {
	content: "\e88b";
}
.icomoon-network:before {
	content: "\e88c";
}
.icomoon-key4:before {
	content: "\e88d";
}
.icomoon-battery:before {
	content: "\e88e";
}
.icomoon-bucket:before {
	content: "\e88f";
}
.icomoon-magnet2:before {
	content: "\e890";
}
.icomoon-drive:before {
	content: "\e891";
}
.icomoon-cup2:before {
	content: "\e892";
}
.icomoon-rocket2:before {
	content: "\e893";
}
.icomoon-brush:before {
	content: "\e894";
}
.icomoon-suitcase:before {
	content: "\e895";
}
.icomoon-cone:before {
	content: "\e896";
}
.icomoon-earth2:before {
	content: "\e897";
}
.icomoon-keyboard2:before {
	content: "\e898";
}
.icomoon-browser2:before {
	content: "\e899";
}
.icomoon-publish:before {
	content: "\e89a";
}
.icomoon-progress-3:before {
	content: "\e89b";
}
.icomoon-progress-2:before {
	content: "\e89c";
}
.icomoon-brogress-1:before {
	content: "\e89d";
}
.icomoon-progress-0:before {
	content: "\e89e";
}
.icomoon-sun:before {
	content: "\e89f";
}
.icomoon-sun2:before {
	content: "\e8a0";
}
.icomoon-adjust:before {
	content: "\e8a1";
}
.icomoon-code2:before {
	content: "\e8a2";
}
.icomoon-screen3:before {
	content: "\e8a3";
}
.icomoon-infinity:before {
	content: "\e8a4";
}
.icomoon-light-bulb:before {
	content: "\e8a5";
}
.icomoon-creditcard:before {
	content: "\e8a6";
}
.icomoon-database:before {
	content: "\e8a7";
}
.icomoon-voicemail:before {
	content: "\e8a8";
}
.icomoon-clipboard2:before {
	content: "\e8a9";
}
.icomoon-cart4:before {
	content: "\e8aa";
}
.icomoon-box:before {
	content: "\e8ab";
}
.icomoon-ticket2:before {
	content: "\e8ac";
}
.icomoon-rss:before {
	content: "\e8ad";
}
.icomoon-signal:before {
	content: "\e8ae";
}
.icomoon-thermometer:before {
	content: "\e8af";
}
.icomoon-droplets:before {
	content: "\e8b0";
}
.icomoon-uniE8B1:before {
	content: "\e8b1";
}
.icomoon-statistics:before {
	content: "\e8b2";
}
.icomoon-pie2:before {
	content: "\e8b3";
}
.icomoon-bars3:before {
	content: "\e8b4";
}
.icomoon-graph:before {
	content: "\e8b5";
}
.icomoon-lock4:before {
	content: "\e8b6";
}
.icomoon-lock-open:before {
	content: "\e8b7";
}
.icomoon-logout:before {
	content: "\e8b8";
}
.icomoon-login:before {
	content: "\e8b9";
}
.icomoon-checkmark3:before {
	content: "\e8ba";
}
.icomoon-cross:before {
	content: "\e8bb";
}
.icomoon-minus2:before {
	content: "\e8bc";
}
.icomoon-plus2:before {
	content: "\e8bd";
}
.icomoon-cross2:before {
	content: "\e8be";
}
.icomoon-minus3:before {
	content: "\e8bf";
}
.icomoon-plus3:before {
	content: "\e8c0";
}
.icomoon-cross3:before {
	content: "\e8c1";
}
.icomoon-minus4:before {
	content: "\e8c2";
}
.icomoon-plus4:before {
	content: "\e8c3";
}
.icomoon-erase:before {
	content: "\e8c4";
}
.icomoon-blocked2:before {
	content: "\e8c5";
}
.icomoon-info3:before {
	content: "\e8c6";
}
.icomoon-info4:before {
	content: "\e8c7";
}
.icomoon-question3:before {
	content: "\e8c8";
}
.icomoon-help:before {
	content: "\e8c9";
}
.icomoon-warning2:before {
	content: "\e8ca";
}
.icomoon-cycle:before {
	content: "\e8cb";
}
.icomoon-cw:before {
	content: "\e8cc";
}
.icomoon-ccw:before {
	content: "\e8cd";
}
.icomoon-shuffle2:before {
	content: "\e8ce";
}
.icomoon-arrow:before {
	content: "\e8cf";
}
.icomoon-arrow2:before {
	content: "\e8d0";
}
.icomoon-retweet:before {
	content: "\e8d1";
}
.icomoon-loop4:before {
	content: "\e8d2";
}
.icomoon-history2:before {
	content: "\e8d3";
}
.icomoon-back:before {
	content: "\e8d4";
}
.icomoon-switch2:before {
	content: "\e8d5";
}
.icomoon-list4:before {
	content: "\e8d6";
}
.icomoon-add-to-list:before {
	content: "\e8d7";
}
.icomoon-layout:before {
	content: "\e8d8";
}
.icomoon-list5:before {
	content: "\e8d9";
}
.icomoon-text:before {
	content: "\e8da";
}
.icomoon-text2:before {
	content: "\e8db";
}
.icomoon-document:before {
	content: "\e8dc";
}
.icomoon-docs:before {
	content: "\e8dd";
}
.icomoon-landscape:before {
	content: "\e8de";
}
.icomoon-pictures:before {
	content: "\e8df";
}
.icomoon-video2:before {
	content: "\e8e0";
}
.icomoon-music5:before {
	content: "\e8e1";
}
.icomoon-folder2:before {
	content: "\e8e2";
}
.icomoon-archive:before {
	content: "\e8e3";
}
.icomoon-trash3:before {
	content: "\e8e4";
}
.icomoon-upload4:before {
	content: "\e8e5";
}
.icomoon-download4:before {
	content: "\e8e6";
}
.icomoon-disk2:before {
	content: "\e8e7";
}
.icomoon-install:before {
	content: "\e8e8";
}
.icomoon-cloud4:before {
	content: "\e8e9";
}
.icomoon-upload5:before {
	content: "\e8ea";
}
.icomoon-bookmark2:before {
	content: "\e8eb";
}
.icomoon-bookmarks2:before {
	content: "\e8ec";
}
.icomoon-book4:before {
	content: "\e8ed";
}
.icomoon-play5:before {
	content: "\e8ee";
}
.icomoon-pause4:before {
	content: "\e8ef";
}
.icomoon-record:before {
	content: "\e8f0";
}
.icomoon-stop4:before {
	content: "\e8f1";
}
.icomoon-next2:before {
	content: "\e8f2";
}
.icomoon-previous2:before {
	content: "\e8f3";
}
.icomoon-first2:before {
	content: "\e8f4";
}
.icomoon-last2:before {
	content: "\e8f5";
}
.icomoon-resize-enlarge:before {
	content: "\e8f6";
}
.icomoon-resize-shrink:before {
	content: "\e8f7";
}
.icomoon-volume:before {
	content: "\e8f8";
}
.icomoon-sound3:before {
	content: "\e8f9";
}
.icomoon-mute:before {
	content: "\e8fa";
}
.icomoon-flow-cascade:before {
	content: "\e8fb";
}
.icomoon-flow-branch:before {
	content: "\e8fc";
}
.icomoon-flow-tree:before {
	content: "\e8fd";
}
.icomoon-flow-line:before {
	content: "\e8fe";
}
.icomoon-flow-parallel:before {
	content: "\e8ff";
}
.icomoon-arrow-left4:before {
	content: "\e900";
}
.icomoon-arrow-down4:before {
	content: "\e901";
}
.icomoon-arrow-up-upload:before {
	content: "\e902";
}
.icomoon-arrow-right4:before {
	content: "\e903";
}
.icomoon-arrow-left5:before {
	content: "\e904";
}
.icomoon-arrow-down5:before {
	content: "\e905";
}
.icomoon-arrow-up4:before {
	content: "\e906";
}
.icomoon-arrow-right5:before {
	content: "\e907";
}
.icomoon-arrow-left6:before {
	content: "\e908";
}
.icomoon-arrow-down6:before {
	content: "\e909";
}
.icomoon-arrow-up5:before {
	content: "\e90a";
}
.icomoon-arrow-right6:before {
	content: "\e90b";
}
.icomoon-arrow-left7:before {
	content: "\e90c";
}
.icomoon-arrow-down7:before {
	content: "\e90d";
}
.icomoon-arrow-up6:before {
	content: "\e90e";
}
.icomoon-arrow-right7:before {
	content: "\e90f";
}
.icomoon-arrow-left8:before {
	content: "\e910";
}
.icomoon-arrow-down8:before {
	content: "\e911";
}
.icomoon-arrow-up7:before {
	content: "\e912";
}
.icomoon-arrow-right8:before {
	content: "\e913";
}
.icomoon-arrow-left9:before {
	content: "\e914";
}
.icomoon-arrow-down9:before {
	content: "\e915";
}
.icomoon-arrow-up8:before {
	content: "\e916";
}
.icomoon-arrow-right9:before {
	content: "\e917";
}
.icomoon-arrow-left10:before {
	content: "\e918";
}
.icomoon-arrow-down10:before {
	content: "\e919";
}
.icomoon-arrow-up9:before {
	content: "\e91a";
}
.icomoon-uniE91B:before {
	content: "\e91b";
}
.icomoon-arrow-left11:before {
	content: "\e91c";
}
.icomoon-arrow-down11:before {
	content: "\e91d";
}
.icomoon-arrow-up10:before {
	content: "\e91e";
}
.icomoon-arrow-right10:before {
	content: "\e91f";
}
.icomoon-menu4:before {
	content: "\e920";
}
.icomoon-ellipsis:before {
	content: "\e921";
}
.icomoon-dots:before {
	content: "\e922";
}
.icomoon-dot:before {
	content: "\e923";
}
.icomoon-cc:before {
	content: "\e924";
}
.icomoon-cc-by:before {
	content: "\e925";
}
.icomoon-cc-nc:before {
	content: "\e926";
}
.icomoon-cc-nc-eu:before {
	content: "\e927";
}
.icomoon-cc-nc-jp:before {
	content: "\e928";
}
.icomoon-cc-sa:before {
	content: "\e929";
}
.icomoon-cc-nd:before {
	content: "\e92a";
}
.icomoon-cc-pd:before {
	content: "\e92b";
}
.icomoon-cc-zero:before {
	content: "\e92c";
}
.icomoon-cc-share:before {
	content: "\e92d";
}
.icomoon-cc-share2:before {
	content: "\e92e";
}
.icomoon-danielbruce:before {
	content: "\e92f";
}
.icomoon-danielbruce2:before {
	content: "\e930";
}
.icomoon-github6:before {
	content: "\e931";
}
.icomoon-github7:before {
	content: "\e932";
}
.icomoon-flickr5:before {
	content: "\e933";
}
.icomoon-flickr6:before {
	content: "\e934";
}
.icomoon-vimeo4:before {
	content: "\e935";
}
.icomoon-vimeo5:before {
	content: "\e936";
}
.icomoon-twitter4:before {
	content: "\e937";
}
.icomoon-twitter5:before {
	content: "\e938";
}
.icomoon-facebook5:before {
	content: "\e939";
}
.icomoon-facebook6:before {
	content: "\e93a";
}
.icomoon-facebook7:before {
	content: "\e93b";
}
.icomoon-googleplus6:before {
	content: "\e93c";
}
.icomoon-googleplus7:before {
	content: "\e93d";
}
.icomoon-pinterest3:before {
	content: "\e93e";
}
.icomoon-pinterest4:before {
	content: "\e93f";
}
.icomoon-tumblr3:before {
	content: "\e940";
}
.icomoon-tumblr4:before {
	content: "\e941";
}
.icomoon-linkedin2:before {
	content: "\e942";
}
.icomoon-linkedin3:before {
	content: "\e943";
}
.icomoon-dribbble5:before {
	content: "\e944";
}
.icomoon-dribbble6:before {
	content: "\e945";
}
.icomoon-stumbleupon3:before {
	content: "\e946";
}
.icomoon-stumbleupon4:before {
	content: "\e947";
}
.icomoon-lastfm3:before {
	content: "\e948";
}
.icomoon-lastfm4:before {
	content: "\e949";
}
.icomoon-rdio:before {
	content: "\e94a";
}
.icomoon-rdio2:before {
	content: "\e94b";
}
.icomoon-spotify:before {
	content: "\e94c";
}
.icomoon-spotify2:before {
	content: "\e94d";
}
.icomoon-qq:before {
	content: "\e94e";
}
.icomoon-instagram3:before {
	content: "\e94f";
}
.icomoon-dropbox:before {
	content: "\e950";
}
.icomoon-evernote:before {
	content: "\e951";
}
.icomoon-flattr2:before {
	content: "\e952";
}
.icomoon-skype2:before {
	content: "\e953";
}
.icomoon-skype3:before {
	content: "\e954";
}
.icomoon-renren:before {
	content: "\e955";
}
.icomoon-sina-weibo:before {
	content: "\e956";
}
.icomoon-paypal4:before {
	content: "\e957";
}
.icomoon-picasa:before {
	content: "\e958";
}
.icomoon-soundcloud3:before {
	content: "\e959";
}
.icomoon-mixi:before {
	content: "\e95a";
}
.icomoon-behance:before {
	content: "\e95b";
}
.icomoon-circles:before {
	content: "\e95c";
}
.icomoon-vk:before {
	content: "\e95d";
}
.icomoon-smashing:before {
	content: "\e95e";
}
